<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <windowBounds>
    <x>41</x>
    <y>76</y>
    <width>1792</width>
    <height>849</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>C:\Users\reprap\Documents\Pruebas\Papel\vectorized_fretwork_pattern.svg</string>
    <string>C:\Users\reprap\AppData\Local\Temp\ink_ext_XXXXXX.svgXB3A1X.svg</string>
    <string>C:\Users\reprap\Desktop\plantilla_para_visicut1.svg</string>
    <string>C:\Users\reprap\Desktop\plantilla_para_visicut.svg</string>
    <string>C:\Users\reprap\AppData\Local\Temp\ink_ext_XXXXXX.svgL3RJ1X.svg</string>
  </recentFiles>
  <lastMaterial>Madera</lastMaterial>
  <lastLaserDevice>BCN3D IGNIS</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>